{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "node": "current",
                    "browsers": [
                        "> 1%",
                        "last 2 versions",
                        "not ie <= 8"
                    ]
                }
            }
        ],
        "stage-0",
        "es2015"
    ]
}